version: 2
updates:
  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "daily"
      time: "05:00"
      timezone: "Etc/UTC"
    open-pull-requests-limit: 15
    labels:
      - "dependencies"
      - "automerge"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "05:30"
      timezone: "Etc/UTC"
    labels:
      - "dependencies"
      - "automerge"
